<head th:replace="fragments/headerinc :: head">
    <th:block th:with="title='Do-Ré-Mi - Home'"></th:block>
</head>

<body>
<div th:replace="fragments/header :: header"></div>

<div class="w3-container w3-padding w3-center">
    <h1>Welcome</h1>
    <h2><i>Do-Ré-Mi</i> - index</h2>
</div>

<div id="app" class="w3-container w3-padding w3-center">
    <h3>Message interactif :</h3>
    <input v-model="message" placeholder="Tapez un message..." class="w3-input w3-border w3-round">
    <p><strong>Vous avez écrit :</strong> {{ message }}</p>
</div>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="/js/app.js"></script>
</body>
</html>
